<!doctype html>
<html lang="en">
<head>
   <% include partials/head.ejs%>
  <title>Sign up</title>
</head>
<body>
 <% include partials/menu_bar.ejs%>
  <div class="main">  
  <div class="projects">
      <h1 id="C0">Sign up</h1>
     			<form action='/register/signup' method='POST'>
 		<table>
		 <tr>
		   <th>  Name </th>
    	<td>	<input type="text" class="form-control" id="inputName" name="name" placeholder="Enter your user name"></td>
				</tr>
				  <tr>
					<th>Password </th>
      <td>  <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Create your password" title="At least 6 characters with letters and numbers" required=""></td>
    
		 </tr>
		 <tr>
		 		  <th>Verify </th>
        <td> <input type="password" class="form-control" id="inputVerify3" name="verify" placeholder="Repeat your password" required=""></td>
			
			 </tr>
			  <tr>
				  <th>

				<button type="submit" >Register</button></th>
         <td><label><%=error%></label></td>
       
        </tr>
			</table>
      </form>
  </div>
  </div>
</body>
</html>