<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
     <% if (user) {%>
        
        <a href="/projects/personal">Personal Projects</a>
        <a href="/project_form">Create Project</a>
          <% if (user.role == "admin") {%>
           <a href="/admin/allusers">All users</a>
            <% } %>  
    <%} else { %>
           <label>Guest session</label>
    <% } %>   
    <second>
       <form id="searchbox" action="/search">
            <input id="field"   name = "searchedName" type="text" placeholder="Type here">
            <input id="submit" type="submit" value="Search">    
        </form>
          <% if (user) { %>
            <a href="/profile"><%=user.name%></a> 
            <a href="/register/logout">Log Out</a>
         <% } else { %>
            <a href="/register/login">Log In</a>
            <a href="/register/signup">Sign Up</a>
         <% } %>       
    </second>
</div>
