<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QUICKSTAND</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="Ahafonova Sofiia">
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <% include menu_bar.ejs%>
  <div class="main">
    <div class="projects">
      <h1>Wellcome to Quickstand!</h1>
      <h3>Quickstand's boards, lists, and cards enable you to organize and prioritize 
              your projects in a fun, flexible and rewarding way.</h3>
      </div>
  </div>
</body>
</html>