<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/project_form">Create Project</a>
    <second>
       <form id="searchbox" action="/search">
            <input id="field"   name = "searchedName" type="text" placeholder="Type here">
            <input id="submit" type="submit" value="Search">
            
        </form>
        <a href="#">Profile</a> 
        <a href="#">Log In</a>            
    </second>
</div>
