<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Projects</title>
  <meta name="description" content="User`s boardlist">
  <meta name="author" content="Ahafonova Sofiia">
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <% include menu_bar.ejs%>
  <div class="main">
 <div class="projects">
     <h1>Searched projects</h1>
      <form id="search_page" action="/search">
        <input id="search" type="text" placeholder="Type here">
        <input id="search_button" type="submit" value="Search">
        <% for (let s of proj_arr) { %>
        <div class="projects">
          <a href = "//projects/<%=s.id%>"><img src="<%= s.image %>"></a>
          <h2><a href = "//projects/<%=s.id%>"><%=s.name%></a></h2>
        </div>
    <% } %>  
      </form>
  </div>
  </div>
</body>
</html>