<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Quickstand</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
        <% if (user) {%>
          <li>
            <a href="/projects/personal">Personal Projects</a>
          </li>
          <li>
            <a href="/project_form">Create Project</a>
          </li>
          <% if (user.role == "admin") {%>
            <li>
              <a href="/admin/allusers">All users</a>
            </li>
            <% } %>
              <%} else { %>
                <li class="navbar-text"> Guest session</li>
                <% } %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li>
          <form class="navbar-form navbar-right" action="/search">
            <div class="input-group">
              <input type="text" name="name" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </li>
        <% if (user) { %>

          <li>
            <a href="/profile">
              <span class="  glyphicon glyphicon-user">
                <%=user.name%>
              </span>
            </a>
          </li>
          <li>
            <a href="/register/logout">
              <span class="glyphicon glyphicon-log-out"></span> Log out</a>
          </li>
          <% } else { %>
            <li>
              <a href="/register/signup">
                <span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li>
              <a href="/register/login">
                <span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>
            <% } %>


      </ul>
    </div>
  </div>
</nav>