<!doctype html>
<html lang="en">

<head>
	<% include partials/head.ejs%>
		<title>Log in</title>
</head>

<body>
	<% include partials/menu_bar.ejs%>
		<div class="main">
			<div class="projects">
				<h2 id="C0">Log in</h2>
				<form class="form-horizontal" action='/register/login' method='POST'>
					<div class="form-group">
						<label class="control-label col-sm-4" for="name">Name:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" pattern="^[a-zA-Z\s]*$" maxlength="30" minlength="3" name="name" placeholder="Enter your user name"
							    required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Password:</label>
						<div class="col-sm-6">
							<input type="password" class=" form-control" name="password" minlength="4" placeholder="Enter your password" title="At least 4 characters with letters and numbers"
							    required>
						</div>
					</div>
					<br>
					<button class="mybtn" type="submit">Submit</button>
					<br>
					<br>
					<label>
						<%=error%>
					</label>

				</form>
			</div>
		</div>
</body>
<div class="index">
	<% include partials/footer.ejs%>
</div>

</html>