<!doctype html>
<html lang="en">

<head>
  <% include partials/head.ejs%>
    <title>Update profile</title>
</head>

<body>
  <% include partials/menu_bar.ejs%>
    <div class="main">
      <div class="projects">
        <h1 id="C0">Update profile</h1>
        <form class="form-horizontal" action='/profile/update' method='POST'>
          <div class="form-group">
            <label class="control-label col-sm-4" for="email">Email</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" name="email" placeholder="Enter email" required value ="<%=user.email%>">
            </div>
          </div>
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
 <% include partials/footer.ejs%>
</body>
</html>