<!doctype html>
<html lang="en">
<head>
  <% include partials/head.ejs%>
  <title>Error</title>
</head>
<body>
  <% include partials/menu_bar.ejs%>
  <div class="main">
    <div class="projects">
      <h1><%=message%></h1>
    </div>
  </div>
</body>
</html>