<!doctype html>
<html lang="en">

<head>
  <% include partials/head.ejs%>
    <title>Profile</title>
</head>

<body>
  <% include partials/menu_bar.ejs%>
    <div class="main">
      <div class="projects">
        <div class="users">
          <h2>
            <%=profileOwner.name%>
          </h2>
          <table>
            <tr>
              <th>Email</th>
              <td>
                <%=profileOwner.email%>
              </td>
            </tr>
          </table>
        </div>
        <h1></h1>
         <%if(profileOwner.name == user.name){%>
                <form action="profile/update">
                  <button class="mybtn" type="submit">Update</button>
                  <form>
                    <%}%>
      </div>
    </div>
</body>
<div class="index">
	<% include partials/footer.ejs%>
</div>
</html>