<!doctype html>
<html lang="en">

<head>
  <% include partials/head.ejs%>
    <title>Create Project</title>
</head>

<body>
  <% include partials/menu_bar.ejs%>
    <div class="main">
      <div class="projects">
        <h1>Create new project </h1>
        <form action=" " method="post" class="form-horizontal" enctype="multipart/form-data">
          <div class="form-group">
            <img src="../images/background/default-placeholder-project.jpg" height="200">
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="logo">Project logo:</label>
            <div class="col-sm-6">
              <input type="file"  onchange="previewFile()" name="logo" accept="image/*">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="name">Name:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="name" required pattern="^[a-zA-Z\s]*$" minlength="3" maxLength="32">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="description"> Project Description:</label>
            <div class="col-sm-6">
              <textarea name="description" class="form-control" rows="5">Project Description</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="status"> Status:</label>
            <div class="col-sm-6">
              <input type="radio" class="radio-inline" name="status" value="Finished" checked> Finished
              <input type="radio" class="radio-inline" name="status" value="Unfinished"> Unfinished
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="access">Access:</label>
            <div class="col-sm-6">
              <input type="radio" class="radio-inline " name="access" value="Private" checked> Private
              <input type="radio" class=" radio-inline " name="access" value="Public"> Public
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="team"> Team:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="team" required="required" pattern="^[a-zA-Z\s]*$" minlength="3" maxLength="32">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="man_hour"> Man-Hour: </label>
            <div class="col-sm-6">
              <input class="form-control" type="number" name="man_hour" min="1" max="2000" value="1">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="rating"> Rating: </label>
            <div class="col-sm-6">
              <input class="form-control" type="text" pattern="^[1-5][.][0-9]$" name="rating" value="1.0">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="start_date"> Start Date: </label>
            <div class="col-sm-6">
              <input class="form-control" type="date" name="start_date" value="2017-06-01" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="finish_date">Finish Date: </label>
            <div class="col-sm-6">
              <input class="form-control" type="date" name="finish_date" value="2017-06-01">
            </div>
          </div>

          <button class ="mybtn" type="submit">Create</button>

          <label>
            <%=error%>
          </label>
        </form>
      </div>
    </div>
     <% include partials/footer.ejs%>
</body>
</html>